<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Employees List</title>
</head>
<body>

<div class="container">

    <h3>Employee Directory</h3>
    <hr>

    <table class="table table-bordered table-stripped">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="tmpEmployee : ${employees}">
                <td th:text="${tmpEmployee.firstName}">
                <td th:text="${tmpEmployee.lastName}">
                <td th:text="${tmpEmployee.email}">
                </td>
            </tr>
        </tbody>

    </table>
</div>
</body>
</html>